@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
}

.left-section {
    background: url(./images/plant_photo.avif);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

img {
    object-fit: contain;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 18vh;
    margin-top: 20vh;
}
.logo-text {
    color: white;
    font-size: 3rem;
    font-family: 'Norse';
    font-size: 15vh; 
}

.introduction {
    display: flex;
    align-items: flex-end;
    height: 30vh;
    background-color: aliceblue;
}
.introduction-text {
    font-size: 2rem;
    font-weight: 1000;
    padding: 3rem;
}
.form-container {
    margin-left: 3rem;
    margin: 5vh;
}
.form-field {
    display: flex;
}

.form-section {
    margin-right: 3rem;
}
.column {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
    flex-direction: column;

}

label {
    margin-top: 20px;
}
input {
    border-color: rgb(93, 161, 230);
    border-radius: 3px;
}

button {
    height: 3vh;
    width: 15vh;
    background-color: rgb(93, 161, 230);
    border-radius: 6px;
}
button:hover {
    background-color: rgb(156, 194, 233);
}

.account-confirmation {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 30vh;
    padding: 30px 50px;
}

.log-in {
    display: flex;
    padding-top: 10px;
}
#account-text,
#login-link {
    font-size: 1.1rem;
    font-weight: 1000;

}

#login-link {
    padding-left: 10px;
}